@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-primary: #41444b;
    --bg-secondary: #52575d;
    --bg-active: #fddb3a;
    --cl-text: #f6f4e6;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif, "robot";
}

body {
    min-height: 100vh;
    display: flex;
}

#container {
    align-items: center;
    width: 100%;
    min-width: max-content;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.enclose-form {
    margin: auto !important;
    width: 390px !important;
    align-content: center !important;
    margin-top: 100px !important;
}

#container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}


#container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

#container .login-email .input-group input {
    width: 100%;
    height: 80%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 20px;
    background: transparent;
    outline: none;
    transition: -3s;
}

#container .login-email .input-group .input:focus,
#container .login-email .input-group .input:valid {
    border-color: #a2a2a2;
}

#container .login-email .input-group .btn {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.login-register-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 50px;
}


/* ====Navbar=== */
.navbar {
    background-color: black;
}

.navbar li {
    color: white;
    font-size: 20px;
    list-style: none;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}

.navbar a {
    display: block;
}

.navbar h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.navbar ul {
    text-align: right !important;
}

.card {
    background-color: turquoise;
}

.bi {
    font-size: 30px;
}

/* ===Side bar=== */
.side-bar {
    position: fixed;
    width: 60px;
    height: 100%;
    background: var(--bg-secondary);
    transition: 0.5s;
    overflow: hidden;
}

#side-bar.active {
    width: 300px;
}

.side-bar ul {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
}

#side-bar ul li {
    list-style: none;
    width: 100%;
    position: relative;
}

#side-bar ul li a:hover {
    color: var(--bg-primary);
}

#side-bar ul li:hover a::before {
    background: var(--bg-active);
    width: 100%;
}

#side-bar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cl-text);
    transition: 0.2s;
}

#side-bar ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.2s;
}

#side-bar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 1.1em;
}

#side-bar ul li a.title {
    position: relative;
    font-size: 0.8em;
}

#side-bar ul li a.toggle {
    border-bottom: 3px solid var(--bg-primary);
}

.toggle {
    cursor: pointer;
}

/* ===Dashboard ===*/
.container-fluid {
    position: relative;
    margin-top: 15vh;
    margin-left: 100px;
}

/* media query */
@media(max-width:768px) {
    header {
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background: var(--bg-secondary);
        color: var(--cl-text);

    }

    .bi {
        font-size: 80%;
    }

    header a {
        color: var(--cl-text);
    }

    #side-bar {
        left: -60px;
    }

    #side-bar .active {
        left: 0;
        width: 100%;
    }

    #side-bar ul li a.toggle {
        display: none;

    }
}